.login-page {
  display: flex;
  align-items: center;
  margin: 0 auto;
  flex-direction: column;
}

.login-form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.login-section {
  display: flex;
  align-items: center;
}

